.sidebar {
    width: 408px;

    padding: 24px;

    border-radius: var(--border-radius);

    background-color: var(--white);
}

.title {
    margin-bottom: 20px;
}

.item:not(:last-child) {
    margin-bottom: 16px;
}