.wrapper {
    display: flex;
    /* padding: 0 32px; */
    gap: 23px;
}

.sidebar {
    grid-area: sidebar;

    position: sticky;
    top: 108px;
    min-width: 408px;
    height: calc(100vh - 218px);
    /* height: 100%; */

    margin-left: 32px;
}

.main {
    width: 100%;
    margin-right: 32px;
}

/* .sidebar, .main {
    padding: 24px;

    border-radius: var(--border-radius);

    background-color: var(--white);
} */

.footer {
    grid-area: footer;
}