.link {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: var(--white);
    gap: 24px;
    border-radius: var(--border-radius);
}

.img {
    min-width: 100px;
    height: 120px;
    border-radius: var(--border-radius);
    object-fit: cover;
}

.info {
    flex-grow: 1;
}

.title {

}

.genre {

}

.counter {
    /* justify-self: flex-end; */
}